<div class="container">
  <!-- search section -->
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip
        *ngFor="let tag of tags"
        [removable]="removable"
        (removed)="remove(tag)"
      >
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Search Gifs"
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event, tagInput)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
      (optionsScroll)="onScrollTags()"
    >
      <mat-option *ngFor="let tag of suggestionsTags | async" [value]="tag">
        {{ tag }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <!-- list section -->
  <div class="row" id="grid">
    <ng-container *ngIf="filteredGifs.length > 0">
      <div *ngFor="let gif of filteredGifs; index as i" class="col-md-4">
        <img src="{{ gif.url }}" class="img-thumbnail img-responsive" />
      </div>
    </ng-container>
    <app-empty-list
      *ngIf="filteredGifs.length == 0 && !gifsLoading"
    ></app-empty-list>
    <div *ngIf="gifsLoading" class="spinner-border" role="status"></div>
  </div>
</div>
<!-- scroll handler -->
<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
