<div class="container">
  <!-- search section -->
  <app-search
    [suggestionsTags]="suggestionsTags"
    [separatorKeysCodes]="separatorKeysCodes"
    [placeholder]="placeholder"
    [loading]="tagsLoading"
    (onAdd)="onAdd($event)"
    (onRemove)="onRemove($event)"
    (onSelected)="onSelected($event)"
    (onTextChange)="onTextChange($event)"
    (onScrollTags)="onScrollTags($event)"
  ></app-search>
  <!-- list section -->
  <div class="row" id="grid">
    <ng-container *ngIf="filteredGifs.length > 0">
      <div *ngFor="let gif of filteredGifs; index as i" class="col-md-4">
        <img src="{{ gif.url }}" class="img-thumbnail img-responsive" />
      </div>
    </ng-container>
    <app-empty-list
      *ngIf="filteredGifs.length == 0 && !gifsLoading"
    ></app-empty-list>
    <div *ngIf="gifsLoading" class="spinner-border" role="status"></div>
  </div>
</div>
<!-- scroll handler -->
<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
