<mat-form-field class="example-chip-list" appearance="fill">
  <mat-chip-list #chipList aria-label="Tag selection">
    <mat-chip
      *ngFor="let tag of tags"
      [removable]="removable"
      (removed)="remove(tag)"
    >
      {{ tag }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      class="search-input"
      placeholder="{{ placeholder }}"
      #tagInput
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event, tagInput)"
    />
  </mat-chip-list>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selected($event)"
    (optionsScroll)="scrollTags()"
  >
    <mat-option *ngFor="let tag of suggestionsTags | async" [value]="tag">
      {{ tag }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
